[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/apullin/llvm-project.git
	branch = i8085
[submodule "FreeRTOS-Kernel"]
	path = FreeRTOS/FreeRTOS-Kernel
	url = https://github.com/apullin/FreeRTOS-Kernel.git
	branch = i8085
[submodule "rust-i8085"]
	path = rust-i8085
	url = https://github.com/apullin/rust.git
	branch = i8085
[submodule "gcc-torture-tests"]
	path = gcc-torture-tests
	url = https://github.com/gcc-mirror/gcc.git
